<h2>Аукционы</h2>
<div class="row" style="margin-top: 15px">
    <div class="col-md-8">

    </div>
</div>
<div class="row" style="margin-top: 15px">
    <div class="col-md-12">
        <table class="table table-striped auctions">
            <thead>
            <th>Prozorro ID</th>
            <th>Категория</th>
            <th>Область</th>
            <th>Заголовок (URL)</th>
            <th>Дата сканирования</th>
            </thead>
            <tbody v-cloak>
            <tr v-for="(row, i) in auctions">
                <td class="align-middle" style="width: 13%">[[row.aid]]</td>
                <td class="align-middle" style="width: 8%">[[row.category]]</td>
                <td class="align-middle" style="width: 10%">[[row.state]]</td>
                <td class="align-middle" style="width: 60%"><a target="_blank" v-bind:href="row.url">[[row.title]]</a></td>
                <td class="align-middle" style="width: 10%">[[row.createDate]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 15px">
    <nav>
        <ul class="pagination">
            <li v-for="(p, i) in pages" class="page-item" v-bind:class="{'active': p.active}">
                <a v-if="p.num > 0" v-on:click="getPage(p.num)" class="page-link"  href="#">[[p.text]]</a>
                <a v-else class="page-link" href="#">[[p.text]]</a>
            </li>
        </ul>
    </nav>
</div>