<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TBE-BOT</title>
    {% autoescape false %}
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sidebar.css', sid='%') | replace('%25', version) }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    {% endautoescape %}
    {% block styles %}{% endblock %}
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">TBE-BOT</a>
                <div id="close-sidebar">
                    <i class="fa fa-times-circle"></i>
                </div>
            </div>
            {% block sbheader %}{% endblock %}
            {% block sbsearch %}{% endblock %}
            {% block sbmenu %}{% endblock %}
        </div>
        {% block sbfooter %}{% endblock %}
    </nav>
    <div class="page-content">
        <div class="container-fluid" id="app">
            <div class="row">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            {% block content %}{% endblock %}
            {% block modals %}{% endblock %}
        </div>
    </div>
    <!-- Modal YesNo-->
    <div class="modal" id="yes_no_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">[[title]]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div v-if="info_message" class="alert alert-warning" role="alert">[[info_message]]</div>
                    <p v-else>[[message]]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" v-if="yesVisible" v-on:click="yes" data-dismiss="modal"
                            class="btn btn-primary">[[btyes]]
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% autoescape false %}
<script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') | replace('%25', version) }}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
{% endautoescape %}
{% block scripts %}{% endblock %}
</body>

</html>