<h2>Dashboard</h2>
<div class="row" style="margin-top: 25px">
    <div class="col-md-8">

    </div>
</div>
<h5>Сводка статистики</h5>
<div class="row ">
    <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-blue-dark">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fa fa-users"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Подписчики</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-4">
                        <h2 class="d-flex align-items-center mb-0">
                            [[subs]]
                        </h2>
                    </div>
                    <div class="col-8 text-right">
                        <ul>
                            <li>день: +[[subs_d]] <i class="fa fa-arrow-up"></i></li>
                            <li>неделя: +[[subs_w]] <i class="fa fa-arrow-up"></i></li>
                            <li>месяц: +[[subs_m]] <i class="fa fa-arrow-up"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-green-dark">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fa fa-ticket"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Аукционы</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-4">
                        <h2 class="d-flex align-items-center mb-0">
                            [[act]]
                        </h2>
                    </div>
                    <div class="col-8 text-right">
                        <ul>
                            <li>день: +[[act_d]] <i class="fa fa-arrow-up"></i></li>
                            <li>неделя: +[[act_w]] <i class="fa fa-arrow-up"></i></li>
                            <li>месяц: +[[act_m]] <i class="fa fa-arrow-up"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h5>График роста аудитории за последнюю неделю</h5>
<div class="row">
    <div class="col-6">
        <div class="card card-chart">
            <div class="card-body">
                <canvas id="chLine"></canvas>
            </div>
        </div>
    </div>
</div>
