<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/login.css">
    <title>TBE BOT | Login</title>
</head>
<body class="text-center">
<form class="form-signin" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 font-weight-normal">TBE BOT</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{ form.email.label(class_='sr-only') }}
    {{ form.email(size=32, class_='form-control', placeholder='Email') }}
    {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.password.label(class_='sr-only') }}
    {{ form.password(size=32, class_='form-control', placeholder='Password') }}
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.submit(class_='btn btn-lg btn-primary btn-block', value='Вход') }}

</form>
<script src="static/js/jquery/jquery.min.js"></script>
<script src="static/css/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>