{% extends "base.html" %}
{% block styles %}
    <link href="{{ url_for('static', filename='css/main.css', sid='%') | replace('%25', version) }}" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block sbheader %}
    <!--<div class="sidebar-header">
        <div class="user-pic">
            <img class="img-responsive img-rounded"
                 src="{{ url_for('static', filename='images/user.jpg') }}"
                 alt="User picture">
        </div>
        <div class="user-info" id="user_info" data-user="{{ user.id }}">
            <span class="user-name">
                {{ user.email }}
            </span>
        </div>
    </div>-->
{% endblock %}

{% block sbsearch %}{% endblock %}

{% block sbmenu %}
    <div class="sidebar-menu">
        <ul>
             <li class="header-menu">
                <span>Menu</span>
            </li>
            <li>
                <a href="{{ url_for('dashboard') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                    <!--<span class="badge badge-pill badge-danger">2</span>-->
                </a>
            </li>
            <li>
                <a href="{{ url_for('auctions') }}">
                    <i class="fa fa-dollar"></i>
                    <span>Аукционы</span>
                    <!--<span class="badge badge-pill badge-danger">2</span>-->
                </a>
            </li>
            <li>
                <a href="{{ url_for('subscribers') }}">
                    <i class="fa fa-users"></i>
                    <span>Подписчики</span>
                    <!--<span class="badge badge-pill badge-danger">2</span>-->
                </a>
            </li>
            <li>
                <a href="{{ url_for('broadcast') }}">
                    <i class="fa fa-telegram"></i>
                    <span>Рассылка</span>
                    <!--<span class="badge badge-pill badge-danger">2</span>-->
                </a>
            </li>
            <li>
                <a href="{{ url_for('settings') }}">
                    <i class="fa fa-gear"></i>
                    <span>Настройки</span>
                    <!--<span class="badge badge-pill badge-danger">2</span>-->
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block sbfooter %}
    <div class="sidebar-footer">
        <a href="{{ url_for('logout') }}" data-toggle="tooltip" data-placement="top" title="Выход">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>
{% endblock %}
{% block content %}
    {% include '{}.html'.format(type) %}
{% endblock %}
{% block modals %}{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/{}.js'.format(type), sid='%') | replace('%25', version) }}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}
