<h2>Подписчики</h2>
<div class="row" style="margin-top: 15px">
    <div class="col-md-8">

    </div>
</div>
<div class="row" style="margin-top: 15px">
    <div class="col-md-12">
        <table class="table table-striped auctions">
            <thead>
            <th>User ID</th>
            <th>User Name</th>
            <th>Подписки</th>
            </thead>
            <tbody v-cloak>
            <tr v-for="(row, i) in subscribers">
                <td class="align-middle" style="width: 15%">[[row.uid]]</td>
                <td class="align-middle" style="width: 15%"><a target="_blank" v-bind:href="row.url">[[row.name]]</a></td>
                <td class="align-middle" style="width: 70%">[[row.themes]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 15px">
    <nav>
        <ul class="pagination">
            <li v-for="(p, i) in pages" class="page-item" v-bind:class="{'active': p.active}">
                <a v-if="p.num > 0" v-on:click="getPage(p.num)" class="page-link"  href="#">[[p.text]]</a>
                <a v-else class="page-link" href="#">[[p.text]]</a>
            </li>
        </ul>
    </nav>
</div>
